<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longruan.demo1.dao.EmployeeDao">

    <insert id="Insert" parameterType="com.longruan.demo1.entity.Employee">
        insert into platform.employee (employeeID,name,departId,loginName,AgentNo,phone,sex) values(#{employeeID},#{displayName},#{departId},#{loginName},#{agentNo},#{phone},#{sex})
</insert>

    <select id="SelectAll" resultMap="resultMapBase">
        select
        <include refid="employeeBase"></include>
        from platform.employee
    </select>

    <select id="SelectOne" resultMap="resultMapBase" parameterType="java.lang.Integer">
        select
        <include refid="employeeBase"></include>
        from platform.employee  where employeeID=#{employeeId}
    </select>

    <sql id="employeeBase">
    employeeID,name,departId,loginName,AgentNo,phone,sex
    </sql>
    <resultMap id="resultMapBase" type="com.longruan.demo1.entity.Employee">
        <result column="employeeID" property="employeeID" />
        <result column="name" property="displayName" />
        <result column="departId" property="departId" />
        <result column="loginName" property="loginName" />
        <result column="AgentNo" property="AgentNO" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
    </resultMap>
</mapper>